<a href="https://colab.research.google.com/github/Sk8rSqurl/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-05-15 00:57:32--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.176.69
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.176.69|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.5’

instacart_online_gr 100%[===================>] 196.03M  48.0MB/s    in 4.5s

2020-05-15 00:57:37 (43.7 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.5’ saved [205548478/205548478]

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [0]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
import pandas as pd
import numpy as np

In [0]:
# Read in dataset.

aisles = pd.read_csv('aisles.csv')
print(aisles.shape)
aisles.head()

(134, 2)

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [0]:
# Read in data for departments.

departments = pd.read_csv('departments.csv')
print(departments.shape)
departments.head()

(21, 2)

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [0]:
# dataset for order_products__prior

order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
# Read in data set for order_products__train

order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.head()

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [0]:
# Data set for orders

orders = pd.read_csv('orders.csv')
print(orders.shape)
orders.head()

(3421083, 7)

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [0]:
# Read in data set for products

products = pd.read_csv('products.csv')
print(products.shape)
products.head()

(49688, 4)

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [0]:
order_products__prior.shape

(32434489, 4)

In [0]:
order_products__train.shape

(1384617, 4)

In [0]:
# Concatenate 2 data sets.

order_products = pd.concat([order_products__prior, order_products__train])

print(order_products.shape)
order_products.head()

(33819106, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
# Check data types

print(orders.dtypes)
print(order_products__prior.dtypes)

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object
order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [0]:
# Merge 2 dataframes

orders_data = pd.merge(orders, order_products__prior, on='order_id', how='outer')
orders_data

          order_id  user_id eval_set  ...  product_id  add_to_cart_order  reordered
0          2539329        1    prior  ...       196.0                1.0        0.0
1          2539329        1    prior  ...     14084.0                2.0        0.0
2          2539329        1    prior  ...     12427.0                3.0        0.0
3          2539329        1    prior  ...     26088.0                4.0        0.0
4          2539329        1    prior  ...     26405.0                5.0        0.0
...            ...      ...      ...  ...         ...                ...        ...
32640693   2977660   206209    prior  ...     38730.0                6.0        0.0
32640694   2977660   206209    prior  ...     31477.0                7.0        0.0
32640695   2977660   206209    prior  ...      6567.0                8.0        0.0
32640696   2977660   206209    prior  ...     22920.0                9.0        0.0
32640697    272231   206209    train  ...         NaN                NaN        NaN

[32640698 rows x 10 columns]

In [0]:
# Narrow down dataframe to better fit our needs.

orders_and_products = pd.merge(orders_data, products[['product_id', 'product_name']], how='inner', on='product_id')
orders_and_products.head()

   order_id  user_id eval_set  ...  add_to_cart_order  reordered  product_name
0   2539329        1    prior  ...                1.0        0.0          Soda
1   2398795        1    prior  ...                1.0        1.0          Soda
2    473747        1    prior  ...                1.0        1.0          Soda
3   2254736        1    prior  ...                1.0        1.0          Soda
4    431534        1    prior  ...                1.0        1.0          Soda

[5 rows x 11 columns]

In [0]:
# getting the datasdt down to the product id
orders_and_products['product_id']

0             196.0
1             196.0
2             196.0
3             196.0
4             196.0
             ...
32434484    43553.0
32434485    43553.0
32434486    42338.0
32434487    42338.0
32434488    28818.0
Name: product_id, Length: 32434489, dtype: float64

In [0]:
orders_and_products['product_id'].isin([196, 26088])

0            True
1            True
2            True
3            True
4            True
            ...
32434484    False
32434485    False
32434486    False
32434487    False
32434488    False
Name: product_id, Length: 32434489, dtype: bool

In [0]:
# Setting conditioon
condition = products['product_id'].isin(orders_and_products['product_id'])

products_subset = products[condition]

products_subset

       product_id  ... department_id
0               1  ...            19
1               2  ...            13
2               3  ...             7
3               4  ...             1
4               5  ...            13
...           ...  ...           ...
49683       49684  ...             5
49684       49685  ...             1
49685       49686  ...             3
49686       49687  ...             8
49687       49688  ...            11

[49677 rows x 4 columns]

In [0]:
# Merge final dataframes
filtered_products = products[(products.product_name == 'Banana') | 
                             (products.product_name == 'Bag of Organic Bananas') | 
                             (products.product_name == 'Organic Strawberries') |
                             (products.product_name == 'Organic Baby Spinach') |
                             (products.product_name == 'Organic Hass Avocado') |
                             (products.product_name == 'Organic Avocado') |
                             (products.product_name == 'Large Lemon') |
                             (products.product_name == 'Strawberries') |
                             (products.product_name == 'Limes') |
                             (products.product_name == 'Organic Whole Milk')]

In [0]:
# drop un-needed columns
filtered_products = filtered_products.drop(columns=['aisle_id', 'department_id'])
print(filtered_products)

       product_id            product_name
13175       13176  Bag of Organic Bananas
16796       16797            Strawberries
21136       21137    Organic Strawberries
21902       21903    Organic Baby Spinach
24851       24852                  Banana
26208       26209                   Limes
27844       27845      Organic Whole Milk
47208       47209    Organic Hass Avocado
47625       47626             Large Lemon
47765       47766         Organic Avocado

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11],
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [0]:
# table2 -> tidy

table2.columns.tolist()

['John Smith', 'Jane Doe', 'Mary Johnson']

In [0]:
# tidy -> table2

table2.index.tolist()

['treatmenta', 'treatmentb']

In [0]:
flights = sns.load_dataset('flights')

In [0]:
# Flights Pivot Table

print(flights)

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

In [0]:
flights = flights.reset_index()
print(flights)

     level_0  index  year      month  passengers
0          0      0  1949    January         112
1          1      1  1949   February         118
2          2      2  1949      March         132
3          3      3  1949      April         129
4          4      4  1949        May         121
..       ...    ...   ...        ...         ...
139      139    139  1960     August         606
140      140    140  1960  September         508
141      141    141  1960    October         461
142      142    142  1960   November         390
143      143    143  1960   December         432

[144 rows x 5 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
# Normal imports
import pandas as pd
import numpy as np
import seaborn as sns
import requests
import pandas as pd

In [0]:
# Code to get third parrty authorization and
# read the csv files into pandas from local machine.
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

from google.colab import drive
drive.mount('/content/drive')

path = https://drive.google.com/drive/folders/1KMj5X2_j41_DPZ-flXm5ZSK7OzY1m8qN?usp=sharing
aisles = pd.read_csv('aisles.csv')
departments = pd.read_csv('departments.csv')
order_products__prior = pd.read_csv('order_products__prior.csv')
order_products__train = pd.read_csv('order_products__train.csv')
orders = pd.read_csv('orders')

products = pd.read_csv('products.csv')

#the dataset is now saved in pandas

'## Reshape Data Stretch Challenge


_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####